body {
  font-family: sans-serif;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
}
td {
  border: 1px solid black;
  text-align: center;
  font-family: Helvetica;
  font-size: 30px;
  padding: 6px;
  width: 60px;
  height: 60px;
}
